body {
  padding: 5%;
  text-align: center;
  display: block;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.star {
  cursor: pointer;
  font-size: 30px;
  margin-right: 550px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.link {
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  left: 90px;
  top: 60px;
}
